<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925956556129-abk3as7k1lt9p1poqq6dq3gp2oj8eoep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925956556129-abk3as7k1lt9p1poqq6dq3gp2oj8eoep</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>925956556129-ge7ibkfrkrso4ih22efg1oidd0bp36d1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC_4zW3WcTyf9tzYOD1XBJ8tDN5j6jLy34</string>
	<key>GCM_SENDER_ID</key>
	<string>925956556129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iMessenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-mob</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-mob.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925956556129:ios:8c66559f098b3ac6ab7120</string>
</dict>
</plist>